*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
composer.local.json
composer.local.lock
Homestead.json
Homestead.yaml
Thumbs.db

# IDE Helper files
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
