a {
    text-decoration: none;
}

// CoreUI Theme Customizations
body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-left: var(--cui-sidebar-occupy-start, 0);
  padding-right: var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  transition: padding .15s;
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px);
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px);
  }
}

.sidebar-toggler {
  margin-left: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-right: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}


// Simplebar customization
.simplebar-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

// Dark mode support
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
