@use "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@use "/node_modules/simplebar/dist/simplebar.css";

@use "backend_variables";

@use "/node_modules/@coreui/coreui/scss/coreui.scss";

@use "backend_custom";