@import "tailwindcss";
/* @import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite"; */
/* @import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css'; */
